*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 232, 124);
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}

.container{
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
}

img{
    margin-left: 63px;
    margin-right: 63px;
}

h1{
    color: white;
    font-weight: 100;
    font-size: 33px;
    font-family:Arial, Helvetica, sans-serif;
}

#mins, #sec, #span1{
    color: white;
    font-size: 2.2rem;
}

p{
    text-align: center;
}

button{
    padding: 10px 40px;
    background-color: rgb(8, 232, 124) ;
    color: white;
    border: 2px white solid;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 530;
}

button:hover{
    color: rgb(8, 232, 124) ;
    background-color: white;   
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
}

.btn{
    padding: 0px 15px;
}